<?xml version="1.0" encoding="UTF-8"?>
<sitemapindex xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{% for s in sitemaps %}
  <sitemap>
    <loc>{{ s.loc }}</loc>
    {% if s.lastmod %}<lastmod>{{ s.lastmod }}</lastmod>{% endif %}
  </sitemap>
{% endfor %}
</sitemapindex>
